<h1 text align="center">Olá, bem-vindo!</h1>
<h2 text align="center">Por gentileza, realize seu cadastro abaixo</h2>
<h3 text align="center"><a href="http://127.0.0.1:3000/cadastros">Cadastros</a></h3>